* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

* :focus {
  outline: none;
}

.App {
  margin: auto;
}

.navbar {
  padding: 28px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #e7dbdb;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
  cursor: pointer;
}

.navbar h1:hover {
  color: #f1356d87;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f1356d97;
  border-radius: 20px;
  color: #fff;
}

.navbar a:hover {
  color: #f1356d;
  background-color: #fff;
}

.frm {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
  padding: 50px;
  border: #f1356d 1px solid;
  border-radius: 20px;
  margin-top: 50px;
}

.submit {
  min-width: 75px;
  padding: 8px;
  color: #ffffff;
  background-color: #f1356d;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.submit:hover {
  background-color: #df285f8f;
}

.row {
  display: flex;
  flex-direction: column;
}

.inputRow {
  display: flex;
  flex-direction: row;
}

.inputRow label {
  flex: 1;
}

.inputRow input {
  margin: 20px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 2px solid #e6d3d3;
  flex: 1;
  font-size: medium;
}

.inputRow input:focus {
  border: 2px solid #f1356d;
}

.addRow {
  display: flex;
  flex-direction: column;
}
.addRow label {
  margin: 10px;
  margin-left: 0px;

}

.addRow input {
  margin: 10px;
  margin-left: 0px;
  width: 200px;
}

.addRow textarea {
  margin: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
  height: 150px;
}

.errorMsg {
  margin-bottom: 20px;
  margin-right: 20px;
  align-self: flex-end;
}

.errorMsg .wrong {
  color: #f1356d;
} 

.errorMsg .right {
  color: #55e596;
} 

.formError {
  color: #f1356d;
  margin-top: 20px;
}

.userHomePage {
  margin: auto;
  max-width: 600px;
  margin-top: 30px;
}

.file {
  border-left: 10px solid rgb(210, 210, 210);
  border-bottom: 10px solid #f1356d;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 30px;
}

.file:hover {
  background-color: #f2f1f1;
}

.user {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

}
.username {
  flex: 1;
  border-bottom: 1px solid #e0dcdc;
  margin-right: 50px;
}

.title {
  margin: 20px;
}

.text {
  margin: 20px;
}

.fileFull {
  word-wrap: break-word

}

.filetitle {
  margin-top: 20px;
}

.filetext {
  margin-top: 20px;
}

.qrcode {
  height:auto;
  margin: 0 auto;
  text-align: center;
}
.thecode {
  height: auto;
  width: 150px;
}

.textAndCode {
  display: flex;
  flex-direction: row;
}

